@use '../../../styles/variables';

.product-section-container{
    font-family: variables.$font-family;
    display: flex;
    justify-content: space-around;
   
    width: 80%;
    margin-top:2rem ;
    padding-top: 2rem ;
}

.img-slicer{
    margin-top:2rem ;
}

.left-product{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    

}

.right-product{
    
    width: 40%;
    
}

.selected{
    border: 1px solid ;
    border: 2px solid variables.$primary-orange;
    opacity: 0.5;
}


.main-image{
    
    width: 400px;
    border-radius: 20px;
    height: auto;
}

.small-image{
    width: 75px;
    border-radius: 10px;
    height: auto;
}

.img-slicer{
    
    display: flex;
    justify-content: space-between;
}

.description-wrapper{
    
    h3{
        padding: 1rem 0;
        letter-spacing: 0.15em;
        font-size: 16px;
        color: variables.$primary-orange;
    }
    h2{
        padding: 1rem 0;
        font-size: 2rem;
        color: variables.$neutral-very-dark-blue;
    }
    p{  
        padding: 1rem 0; 
        color: variables.$neutral-Grey;
    }

}

.price-discount{
    padding: 1rem 0; 
    color: variables.$neutral-very-dark-blue;
    font-size: 1.5rem;
    font-weight: 700;
    margin-right: 1rem;
}

.percentage{
    color: variables.$primary-orange;
    
    font-size: 1.5rem;
    font-weight: 700;
    margin-right: 1rem;
    background-color: variables.$primary-pale-orange;
}

.real-price{
    color: variables.$neutral-Grey;
    font-size: 1rem;
    font-weight: 700;
    margin-right: 1rem;
}

.count{
    padding: 1rem 0; 
    border-radius: 20px;
    display: flex;
    background-color: variables.$primary-pale-orange;
    span{
        font-size: 2rem;
        text-align: center;
        align-items: center;
        width: 4rem;
        height: 2rem;
        cursor: pointer;
    }

    
}

.count-add-card{
    padding: 1rem 0; 
    display: flex;
    button{     
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 10px;
        font-size: 16px;
        background-color: variables.$primary-orange;;
    }
}

.orange-text{
    color: variables.$primary-orange;
}

@media screen and (max-width: 800px){
    .product-section-container{
        flex-direction: column;
        justify-content: center;
    }
    .left-product{
        
        width: 100%;
        
    
    }
    
    .right-product{
        
        width: 100%;
        
    }
}